<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
    <a href="secret">Secret Page</a>
    <a href="logout">Logout</a>
    <a href="blog">Create your Blog Here</a>
    <a href="pdf">Generate Pdf</a>
    </nav>
    
    <h1>Chat Page</h1>
    
</body>
</html>