<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>generatepdf</title>
</head>
<body>
    <h1 class="mx-4" style="color: blue;">Generate Pdf</h1>
    <hr>
    <form class="container mx-6 my-6 mt-4" action="pdf" method="POST">
  <div class="row">
    <div class="col">
        <label for="labelFname">First Name</label>
      <input type="text" class="form-control" placeholder="First name" name="fname" required>
    </div>
    <br>
    <div class="col mb-4">
        <label for="labelLname">Last Name</label>
      <input type="text" class="form-control" placeholder="Last name" name="lname" required>
    </div>
  </div>
  <button class="btn btn-success" type="submit">Generate Pdf</button>
</form>
</body>
</html>