<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body class="flex-container">
    
    
    <header class="flex-header">
        Header
    </header>
    <main class="flex-main">
        <nav class="flex-nav">
        <a href="secret">Secret</a>
        <a href="Login">Login</a>
        <a href="register">Registration</a>
        </nav>
        <article class="flex-article">
            Main content
        </article>
        <aside class="flex-aside">
            sidebar
        </aside>
    </main>
    <footer class="flex-footer">
        Footer
    </footer>
    
</body>
</html>